<!DOCTYPE ejs>
<html>
  <head>
    <title>Socket.IO Mobile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/mobile.css" />
  </head>
<body>
    <main>
      <button id="testbtn">テスト</button>
      <input id="data-img" type="file" />
    </main>
    <ul id="gyro-info">
      <li>Beta : <span id="beta"></span></li>
      <li>Gamma : <span id="gamma"></span></li>
      <li>Alpha : <span id="alpha"></span></li>
    </ul>
    <button class="btn">ジャイロオン</button>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/mobile.js"></script>
  </body>
</html>
